<div class="main p-4 text-center">
    <h1 class="fw-bold">Acerca de</h1>
    <img class="mb-4" width="148" height="148" src="../../../assets/img/biblioteca.png" alt="Logo de biblioteca">
    <br>
    <div class="row">
        <form action="" class="form-group col-md-6">
            <hr>
            <h1 class="fw-bold">Misión</h1>
            <hr><br>
            <p>Tiene como misión facilitar a la comunidad universitaria recursos y servicios informativos de calidad,
                con eficiencia, oportunidad y confiabilidad tecnológica.</p>
        </form>
        <form action="" class="form-group col-md-6">
            <hr>
            <h1 class="fw-bold">Visión</h1>
            <hr><br>
            <p>Que facilite recursos y servicios de información con pertinencia académica y de calidad; fomente una
                cultura de gestión de la información </p>
        </form>
    </div>
</div>